*.out
*.log
*.run.xml
*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nidx
*.nind
*.widx
*.wind
*.cidx
*.cind
*.eidx
*.eind
*.pidx
*.pind
*.bcf
*.bbl
*.ilg
*.ind
*.idx
*.toc
*.ltjruby
*.code
tcb
*.listing
